.root {
  width: 100%;
  overflow-x: clip;
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-family-ios);
}

.root *,
.root *::before,
.root *::after {
  box-sizing: border-box;
}

.globalHeader {
  display: none;
}

.activityHeader,
.globalHeader {
  position: sticky;
  z-index: 10;
  top: 0;
}

.standardRail {
  width: 100%;
  margin-inline: auto;
  container-type: inline-size;
}

.standardRail > [data-slot="product-list"] > [data-slot="product-list-container"] {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

.reviewList {
  width: 100%;
}

.reviewList > [data-slot="review-list"] > [data-slot="review-list-container"] {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .activityHeader {
    display: none;
  }

  .globalHeader {
    display: block;
  }

  .waterfall [data-slot="product-list-load-more"] > button {
    height: var(--space-600);
  }

  .reviewList
    > [data-slot="review-list"]
    > [data-slot="review-list-container"]
    > [data-slot="review-list-items"]
    > li {
    flex-basis: calc((100% - 2 * var(--space-150)) / 3);
  }
}

@container (min-width: 1440px) {
  .standardRail
    > [data-slot="product-list"]
    > [data-slot="product-list-container"]
    > [data-slot="product-list-items"]
    > [data-slot="product-list-item"] {
    flex-basis: calc((100% - 60px) / 6);
  }
}

.waterfall > [data-slot="product-list-container"] {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}
